<h1>PAGE POTIN</h1>
<h2>Voici la page du potin <%= gossip[0] %></h2>
<p><strong>Son auteur :</strong> <%= gossip[1] %></p>
<p><strong>Le contenu du potin :</strong> <%= gossip[2] %></p>

<p><a href='/'>Cliquez ici</a> pour revenir à la page des potins</p>